
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-12">
    <input id="selDate" type="month" />
    <button id="btnSearch" onclick="getData();">버트은</button>

    <!-- LINE CHART -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">매입 / 매출</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>

<script>
    getData();
    function getData() {
        var url = '@ViewBag.Url';
        var year = $('#selDate').val().split('-')[0];
        var month = $('#selDate').val().split('-')[1];        

        if (typeof month == 'undefined') {
            year = new Date().getFullYear()
            month = new Date().getMonth() + 1

            if (month < 10) {
                $("#selDate").val(year + '-0' + month.toString());
            }
            else {
                $("#selDate").val(year + '-' + month.toString());
            }
            
        }
        else {
            year = parseInt(year)
            month = parseInt(month)
        }

        // TODO : 월에 따른 일 수 구하기
        var arr31 = [1, 3, 5, 7, 8, 10, 12]
        var arr30 = [4, 6, 9, 11]

        var days = 0
        if (arr31.indexOf(month) >= 0) {
            days = 31;
        }
        else if (arr30.indexOf(month) >= 0) {
            days = 30;
        }
        // 2월
        else {
            // 윤년
            if (year % 4 == 0 && year % 100 != 0 || year % 400 == 0) {
                days = 29;
            }
            else {
                days = 28;
            }
        }

        var daysArr = []
        var purchaseArr = [];
        var orderArr = [];
        for (var i = 1; i < days + 1; i++) {
            daysArr.push(i);
            purchaseArr.push(0);
            orderArr.push(0);
        }

        $.getJSON(url + 'api/Trade/op?dt=' + $('#selDate').val())
        .done((data) => {

            for (var i = 0; i < data["Data"].length; i++) {
                console.log(data["Data"][i]);
                console.log(data["Data"][i].Type);

                var d = data["Data"][i].Date.split('T')[0].split('-')[2]
                d = parseInt(d)

                if (data["Data"][i].Type == '매입') {
                    purchaseArr[d - 1] = purchaseArr[d - 1] + data["Data"][i].Total
                }
                else {
                    orderArr[d - 1] = orderArr[d - 1] + data["Data"][i].Total
                }
            }

            $('#lineChart').empty();
            var lineChartCanvas = $('#lineChart').get(0).getContext('2d');

            var areaChartData = {
                labels: daysArr,
                datasets: [
                    {
                        label: '매입',
                        backgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: purchaseArr
                    },
                    {
                        label: '매출',
                        backgroundColor: 'rgba(210, 214, 222, 1)',
                        borderColor: 'rgba(210, 214, 222, 1)',
                        pointRadius: false,
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: orderArr
                    },
                ]
            }

            var areaChartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: true,
                    align: 'end'
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index) {
                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                            }
                        }
                    }]
                }
            }

            var lineChartOptions = $.extend(true, {}, areaChartOptions)
            var lineChartData = $.extend(true, {}, areaChartData)
            lineChartData.datasets[0].fill = false;
            lineChartData.datasets[1].fill = false;
            lineChartOptions.datasetFill = false

            var lineChart = new Chart(lineChartCanvas, {
                type: 'line',
                data: lineChartData,
                options: lineChartOptions
            })
        })
        .fail((jqXHR, textStatus, err) => {
            console.log('fail...');
            console.log(err);
        })
    }
</script>