
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>매입 현황</h3>

                <input type="date" style="width:150px; height:28px" /> ~
                <input type="date" style="width:150px; height:28px" />
                <input type="text" placeholder="거래처를 입력하세요." style="width:170px; height:28px" />
                <input class="btnSearch" type="submit" value="검색" style="padding:0px 6px 0px 6px; font-size:16px" onclick="find();" />

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">발주 번호</th>
                        <th scope="col">발주 일자</th>
                        <th scope="col">출하 일자</th>
                        <th scope="col">거래처</th>
                        <th scope="col">품번</th>
                        <th scope="col">품명</th>
                        <th scope="col">구매 수량</th>
                        <th scope="col">가격</th>
                        <th scope="col">총 금액</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>10016</td>
                        <td>2022-07-17</td>
                        <td>2022-07-18</td>
                        <td>(주)삼성전자</td>
                        <td>ABC0001</td>
                        <td>비싼 책상</td>
                        <td>10</td>
                        <td>400,000</td>
                        <td>4,000,000</td>
                    </tr>

                    <tr>
                        <td class="purchaseNo">10017</td>
                        <td class="purchaseDate">2022-07-17</td>
                        <td class="incomingDate">2022-07-18</td>
                        <td class="client">(주)LG전자</td>
                        <td class="productNo">ABD0005</td>
                        <td class="productName">가성비 책상</td>
                        <td class="qty">5</td>
                        <td class="price">120,000</td>
                        <td class="total">600,000</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    var url = '@ViewBag.Url';
    alert(url);
    
    function find() {
        var btnSearch = $('.btnSearch').val();
        // 임시 url
        // https://localhost:44393/api/Trade/Purchase?startDate=2022-07-01&endDate=2022-08-04
        $.getJSON(url + 'api/Trade/Purchase?startDate=2022-07-01&endDate=2022-08-04')
            .done((data) => {
                console.log(data.Data)
                $.each(data, (key, item) => {                   
                    console.log(data.Data.PurchaseNo);
                })
            })
            .fail((jqXHR, textStatus, err) => {
                console.log('fail...');
                console.log(err);
            })
    }
</script>