<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>


	<log4net>
		<!-- Rolling File -->
		<!-- 날짜별로 파일에 로그 기록 -->
		<appender name="RollingFileAppenderByDate"
				  type="log4net.Appender.RollingFileAppender">

			<file value="log/" />

			<!-- 날짜별로 log를 저장하는 경우 파일명에 대한 패턴 -->
			<datePattern value="yyyyMMdd'_log.log'" />

			<!-- 날짜별로 기록하는 경우 false로 지정한다. -->
			<staticLogFileName value="false" />

			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="100MB" />
			<maxSizeRollBackups value="100" />

			<!-- 로그 패턴 설정 [FATAL] -->
			<!-- (2022/08/03 21:25:37 ConsoleApp27.Program Main 30 Fatal Log) -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern
					value = "[%p] %d{yyyy/MM/dd HH:mm:ss} %message %newline %newline"/>
			</layout>
		</appender>


		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFileAppenderByDate"/>
		</root>
	</log4net>

</configuration>