@model IEnumerable<DESK_WEB.Models.DTO.MenuVO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetMenuList</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
