@model IEnumerable<DESK_WEB.Models.DTO.MenuVO>

@foreach(var item in Model)
{
    <li class="nav-item">
        <a href=@Url.Action(item.frmName.Split('/')[1], item.frmName.Split('/')[0], new { }) class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>@item.Function_Name</p>
        </a>
    </li>
}
