@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@if (ViewBag.isLoginFail == true)
{
    <script>
        alert("로그인에 실패했습니다.");
    </script>
}

@if (ViewBag.isNotLogin == true)
{
    <script>
        alert("로그인이 필요합니다.");
    </script>
}