@if (Session["user"] == null)
{
    using (Html.BeginForm("CheckLogin", "Main"))
    {
        <table>
            <tr style="font-size: 15px">
                <td style="width: 30px">ID</td>
                <td><input type="text" name="User_No" size="8" style="margin-right: 10px; height: 23px" /></td>
                <td style="width: 30px">PW</td>
                <td><input type="password" name="User_Pwd" size="8" style="margin-right: 10px; height: 23px" /></td>
                <td><input type="submit" value="로그인" style="height: 23px; padding-top: 0px" /></td>
            </tr>
        </table>
    }
}
else
{
    <h2>Session["user"]</h2>
}