@if(Session["user"] == null)
{
    @using (Html.BeginForm("Index", "Main"))
    {
        <table>
            <tr style="font-size: 15px">
                <td style="width: 30px">ID</td>
                <td><input type="text" name="id" size="8" style="margin-right: 10px; height: 23px" /></td>
                <td style="width: 30px">PW</td>
                <td><input type="password" name="pwd" size="8" style="margin-right: 10px; height: 23px" /></td>
                <td><input type="submit" value="로그인" style="height: 23px; padding-top: 0px" onclick="checkLogin();" /></td>
            </tr>
        </table>
    }
}
else
{
    <h2>Session["user"]</h2>
}

<script>
    function checkLogin() {
        var url = '@ViewBag.Url';
        alert(url + 'api');
        // 로그인 체크 컨트롤러를 호출하여 결과에 따라 세션 저장
        var url = '';
    }
</script>